[build]
  publish = "book"
  command = """
    mkdir -p .netlify-cache/tools bin

    MDBOOK_URL=https://github.com/rust-lang/mdBook/releases/download/v0.4.52/mdbook-v0.4.52-x86_64-unknown-linux-gnu.tar.gz
    MDBOOK_FILE=mdbook.tar.gz
    MDBOOK_SHA256=c0b903f01dd8f4edc644372ad2b80b1fdddd12552d37b6a098657cbd8eddd768

    EMBEDIFY_URL=https://github.com/MR-Addict/mdbook-embedify/releases/download/0.2.18/mdbook-embedify-0.2.18-x86_64-unknown-linux-gnu.zip
    EMBEDIFY_FILE=embedify.zip
    EMBEDIFY_SHA256=c5aa5bf7130034dcb5d0aa87c224112dce1b52f7a25866bea6e13fc401c16089

    KATEX_URL=https://github.com/lzanini/mdbook-katex/releases/download/0.10.0-alpha-binaries/mdbook-katex-v0.10.0-alpha-x86_64-unknown-linux-gnu.tar.gz
    KATEX_FILE=katex.tar.gz
    KATEX_SHA256=0db559af17213cdb4f466cb4210d8ed557032eaddc9763ad97f51c98bd9aec07

    # ---------------------------
    # DOWNLOAD + VERIFY MDBOOK
    # ---------------------------
    if [ ! -f .netlify-cache/tools/mdbook ]; then
      wget -q $MDBOOK_URL -O $MDBOOK_FILE

      echo "$MDBOOK_SHA256  $MDBOOK_FILE" | sha256sum -c - || \
      (echo 'Checksum mdBook invalid! Download ulang...' && rm -f $MDBOOK_FILE && wget -q $MDBOOK_URL -O $MDBOOK_FILE)

      echo "$MDBOOK_SHA256  $MDBOOK_FILE" | sha256sum -c - || \
      (echo 'Checksum mdBook gagal dua kali. Stop.' && exit 1)

      tar -xzf $MDBOOK_FILE
      mv mdbook .netlify-cache/tools/mdbook
    fi

    # ---------------------------
    # DOWNLOAD + VERIFY EMBEDIFY
    # ---------------------------
    if [ ! -f .netlify-cache/tools/mdbook-embedify ]; then
      wget -q $EMBEDIFY_URL -O $EMBEDIFY_FILE

      echo "$EMBEDIFY_SHA256  $EMBEDIFY_FILE" | sha256sum -c - || \
      (echo 'Checksum embedify invalid! Download ulang...' && rm -f $EMBEDIFY_FILE && wget -q $EMBEDIFY_URL -O $EMBEDIFY_FILE)

      echo "$EMBEDIFY_SHA256  $EMBEDIFY_FILE" | sha256sum -c - || \
      (echo 'Checksum embedify gagal dua kali. Stop.' && exit 1)

      unzip -q $EMBEDIFY_FILE
      mv mdbook-embedify-0.2.18-x86_64-unknown-linux-gnu/mdbook-embedify .netlify-cache/tools/mdbook-embedify
    fi

    # ---------------------------
    # DOWNLOAD + VERIFY KATEX
    # ---------------------------
    if [ ! -f .netlify-cache/tools/mdbook-katex ]; then
      wget -q $KATEX_URL -O $KATEX_FILE

      echo "$KATEX_SHA256  $KATEX_FILE" | sha256sum -c - || \
      (echo 'Checksum katex invalid! Download ulang...' && rm -f $KATEX_FILE && wget -q $KATEX_URL -O $KATEX_FILE)

      echo "$KATEX_SHA256  $KATEX_FILE" | sha256sum -c - || \
      (echo 'Checksum katex gagal dua kali. Stop.' && exit 1)

      tar -xzf $KATEX_FILE
      mv mdbook-katex .netlify-cache/tools/mdbook-katex
    fi

    # ---------------------------
    # COPY TOOL & BUILD BOOK
    # ---------------------------
    cp .netlify-cache/tools/* bin/
    chmod +x bin/*
    export PATH=$PATH:$(pwd)/bin

    bin/mdbook build
  """
